html {
    background-image: url("background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    text-align: center;
}

h1 {
    margin-top: 180px;
    background: -webkit-linear-gradient(orangered, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    display: inline-block;
    padding: 30px;
    background: -webkit-linear-gradient(orchid, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
}

button {
    margin-top: 20px;
    background: -webkit-linear-gradient(orchid, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    border: 2px double purple;
    border-radius: 5px;
}

